@import "part:@sanity/base/theme/variables-style";

.value_container {
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: 100%;
  margin: 1px;
  padding: var(--small-padding);

  /* @nest &:hover {
    cursor: pointer;
    background-color: color(var(--default-button-primary-color) a(5%));
    border: 1px solid color(var(--default-button-primary-color) a(70%));
  } */

  @nest &:focus {
    outline: none;
  }
}

.value_container img {
  border-radius: 50%;
}
